body
		{
			background-color:#AEE19E;
			background-image:url("https://www.studiopress.com/wp-content/uploads/sp-bg-2880x1452.png");
		}

		.form-container
		{
			margin-top:40px;
			margin-bottom: 40px;
		}

		#dob
		{
			color:orange;
		}

		label
		{
			color:white;
			font-size:17px;
			font-style:italic;
		}

        .main__wrapper {
            display: flex;
            justify-content: space-around;
        }

		.form-control,
		.form-check-input
		{
			background-color:#1c7bd0;
			color:white;
			margin-bottom: 4px;
		}

		.form-control::placeholder,
		.form-check-input
		{
			color:orange;
		}

		.form-control:focus
		{
			background-color:#1c7bd0;
			color:white;
		}

		h1
		{
			margin-bottom:40px;
			font-style:italic;
			color:white;
		}

		button
		{
			margin-top:30px;
		}

		.btn
		{
			background-color: orange;
			color:white;
		}

		table th,td
		{
			color:white;
			text-align:center;
			border: solid 1px purple;
		}

		th,td {
			padding: 5px;
			max-width: 150px;
			max-height: 100%;
			overflow: auto;
		}

		table {
			border: solid 1px purple;
			border-collapse: collapse;
		}
		
		.table-container {
			display: flex;
			flex-direction: column;
			justify-items: center;
			align-items: center;
		}

		.table-container .text-center {
			margin-top: 60px;
		}